h1 {
    color: lightskyblue;
    /* color: lightgray; */
}

h2 {
    color: #a591dc;
}

h3 {
    color: #adc2fc;
}

body {
    color: lightgray;
    background-color: #323232;
}

pre {
    background-color: #2E2E2E;
}

code {
    background-color: #2E2E2E;
}

/* hr {
    border: 5px solid #554099;
    border-radius: 5px;
} */
hr {
  border: none;
  border-top: 8px double;
  overflow: visible;
  text-align: center;
  height: 5px;
}

td, th {
  border: 3px;
  border-style: groove;
}
